<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.manage.mapper.PmsBaseAttrInfoMapper">
    <select id="getAttrValueListByValueId" resultMap="AttrValueListByValueId">
        SELECT pbai.*,pbai.id pbai_id,pbav.*,pbav.id pbav_id
        FROM pms_base_attr_info pbai,pms_base_attr_value pbav
        WHERE pbai.id = pbav.attr_id AND pbav.id IN (${valueId})
    </select>
    <resultMap id="AttrValueListByValueId" type="com.atguigu.gmall.beans.PmsBaseAttrInfo" autoMapping="true">
        <result column="pbai_id" property="id"></result>
        <collection property="attrValueList" ofType="com.atguigu.gmall.beans.PmsBaseAttrValue"
                    autoMapping="true">
            <result column="pbav_id" property="id"></result>
        </collection>
    </resultMap>

</mapper>